* {
  font-family: Arial, Helvetica, sans-serif;
}

.kolomkiri {
  width: 30%;
}

.kolomkanan {
  width: 70%;
}

.tabel {
  width: 100%;
  border: 1px solid #000;
}

th {
  background-color: cadetblue;
  font-weight: bolder;
  color: whitesmoke;
}